body {
	background-color: #E0E0E0 !important;
}

#quoteAuthor {
	margin-left: 2em;
}

.font-pacifico {
	font-family: 'Pacifico', cursive;
}

.min-top-space {
	margin-top: 1.5em;
}

.top-space {
	margin-top: 5em;
}

.white-text {
	color: white !important;
}

button a {
	text-decoration: none !important;
}